name: My First Github Action
on: [push]
jobs: 
     print-hello-world:
        runs-on: ubuntu-latest
        steps:
            - run: echo "Hello, this is my first github action"
            - run: echo "This is step 2"